Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

refactor: 요청/응답 본문 로깅 개선 및 안정성 향상
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

ci: PR 제목과 브랜치의 RING 번호 일치 여부 검증 추가
  .github/workflows/pr_labeler_validator.yaml
Owners: @do0ori

ci: PR 제목과 브랜치의 RING 번호 일치 여부 검증 추가
  .github/workflows/pr_labeler_validator.yaml
Owners: @do0ori

refactor: 토큰 전달 방식을 Authorization 헤더로 변경
  frontend/src/api/authApi.ts
Owners: @ricomados

refactor: 토큰 전달 방식을 Authorization 헤더로 변경
  frontend/src/api/authApi.ts
Owners: @ricomados

임시 일기 저장
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
Owners: @Pandarang

임시 일기 저장
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
Owners: @Pandarang

feat: 이미지 업로드/삭제 구조 구성 및 AWS S3 설정 준비
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/service/AuthService.java
  backend/src/main/java/com/airing/backend/common/health/HealthCheckController.java
  backend/src/main/java/com/airing/backend/controller/IndexController.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/java/com/airing/backend/image/dto/PresignedUrlResponse.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @Pandarang

feat: 이미지 업로드/삭제 구조 구성 및 AWS S3 설정 준비
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/service/AuthService.java
  backend/src/main/java/com/airing/backend/common/health/HealthCheckController.java
  backend/src/main/java/com/airing/backend/controller/IndexController.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/java/com/airing/backend/image/dto/PresignedUrlResponse.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @Pandarang

chore: react-native-month-year-picker 패키지 추가
  frontend/package-lock.json
  frontend/package.json
Owners: @ricomados

chore: react-native-month-year-picker 패키지 추가
  frontend/package-lock.json
  frontend/package.json
Owners: @ricomados

feat: 통화 기록(CallLog) 화면 추가
  frontend/src/assets/icons/ic-chevron-down.svg
  frontend/src/assets/icons/ic-chevron-right.svg
  frontend/src/assets/icons/ic-search.svg
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

feat: 통화 기록(CallLog) 화면 추가
  frontend/src/assets/icons/ic-chevron-down.svg
  frontend/src/assets/icons/ic-chevron-right.svg
  frontend/src/assets/icons/ic-search.svg
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

feat: 월 선택 기능 추가
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

feat: 월 선택 기능 추가
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

refactor: CallLogScreen으로 기존 LogScreen 대체
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call-log/LogScreen.tsx
Owners: @ricomados

refactor: CallLogScreen으로 기존 LogScreen 대체
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call-log/LogScreen.tsx
Owners: @ricomados

fix: 기록 화면 진입 시 날짜 초기화 문제 해결
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

fix: 기록 화면 진입 시 날짜 초기화 문제 해결
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

chore: Android 관련 npm 스크립트 추가
  frontend/package.json
Owners: @ricomados

chore: Android 관련 npm 스크립트 추가
  frontend/package.json
Owners: @ricomados

feat: SKIP_AUTH 플래그로 백엔드 없이 UI 개발 가능하도록 개선
  frontend/src/store/authStore.ts
  frontend/src/types/declarations.d.ts
Owners: @ricomados

feat: SKIP_AUTH 플래그로 백엔드 없이 UI 개발 가능하도록 개선
  frontend/src/store/authStore.ts
  frontend/src/types/declarations.d.ts
Owners: @ricomados

refactor: 시간 및 날짜 포맷 유틸 함수 분리
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/utils/date.ts
Owners: @ricomados

refactor: 시간 및 날짜 포맷 유틸 함수 분리
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/utils/date.ts
Owners: @ricomados

feat: 통화 기록 상세 화면 네비게이션 스택 분리 및 연결
  frontend/src/navigation/CallLogStack.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

feat: 통화 기록 상세 화면 네비게이션 스택 분리 및 연결
  frontend/src/navigation/CallLogStack.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

feat: 통화 상세 화면 UI 구현 및 연결
  frontend/src/assets/icons/ic-chevron-left.svg
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
Owners: @ricomados

feat: 통화 상세 화면 UI 구현 및 연결
  frontend/src/assets/icons/ic-chevron-left.svg
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
Owners: @ricomados

chore: 스크롤 테스트용 콜로그 더미 데이터 추가
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

chore: 스크롤 테스트용 콜로그 더미 데이터 추가
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @ricomados

chore: Prettier 설정에 endOfLine: 'auto' 추가
  frontend/.prettierrc.js
Owners: @ricomados

chore: Prettier 설정에 endOfLine: 'auto' 추가
  frontend/.prettierrc.js
Owners: @ricomados

마이페이지
  frontend/a.js
  frontend/src/navigation/SettingsStack.tsx
  frontend/src/screens/main/SettingsScreen.tsx
  frontend/src/screens/main/mypage.tsx
  frontend/src/store/authStore.ts
Owners: @ricomados

.github/CODEOWNERS:

* @do0ori
/backend/  @Pandarang
/frontend/ @ricomados
/ai/ @armihong
