Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

.github/CODEOWNERS:

* @do0ori
/backend/ @do0ori @Pandarang 
/frontend/ @do0ori @ricomados
/ai/ @do0ori @armihong

feat: 일기 데이터 저장소 및 감정 추출 기능 추가
  frontend/src/store/diaryStore.ts
  frontend/src/types/diary.ts
  frontend/src/utils/date.ts
  frontend/src/utils/emotion.ts
Owners: @do0ori, @ricomados

feat: 설정 화면에 알람 테스트 버튼 추가
  frontend/src/assets/icons/ic-dev.svg
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @do0ori, @ricomados

refactor: 통화 로그 시간 포맷 및 파라미터 타입 수정
  frontend/App.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
Owners: @do0ori, @ricomados

refactor: AI 전화 연결 로직 테스트용 대체 처리
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call/IncomingCallScreen.tsx
Owners: @do0ori, @ricomados

feat: 일기 답장 보기 및 작성 기능 연동
  frontend/src/components/common/ReplyModal.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/calendar/DiaryScreen.tsx
Owners: @do0ori, @ricomados

chore: 시연 영상용 Debug 앱 이름에서 'Debug' 제거
  frontend/android/app/build.gradle
Owners: @do0ori, @ricomados

docs: 시연 영상 링크 추가
  README.md
Owners: @do0ori

feat: 감정분석 모델 파일 및 코드 추가
  ai/app/models/__init__.py
  ai/app/models/config.json
  ai/app/models/model_def.py
Owners: @do0ori, @armihong

feat: 감정분석 API 엔드포인트 추가
  ai/app/routes/diary.py
Owners: @do0ori, @armihong

feat: 감정분석 요청 및 응답 스키마 추가
  ai/app/schemas/diary.py
Owners: @do0ori, @armihong

feat: 감정분석 서비스 로직 추가
  ai/app/services/diary_emotion.py
Owners: @do0ori, @armihong

chore: 감정분석 모델 관련 패키지 의존성 추가
  ai/app/requirements.txt
Owners: @do0ori, @armihong

feat: 1차 및 2차 모델 학습/개선 노트북 파일 추가
  ai/notebooks/train_data_processing.ipynb
  ai/notebooks/train_eval_kcelectra.ipynb
  ai/notebooks/train_eval_kluebert.ipynb
  ai/notebooks/train_eval_kluebert_bertcnn.ipynb
  ai/notebooks/train_eval_kluebert_bertcnn_focalloss.ipynb
  ai/notebooks/train_eval_kluebert_correlation.ipynb
  ai/notebooks/train_eval_kobert.ipynb
  ai/notebooks/train_eval_kobert_senti5.ipynb
  ai/notebooks/train_eval_koelectra.ipynb
  ai/notebooks/train_eval_korean_sentiment_analysis_kcelectra.ipynb
  ai/notebooks/train_eval_kote_for_easygoing_people.ipynb
  ai/notebooks/train_eval_tuning_kluebert_optuna.ipynb
  ai/notebooks/train_eval_tuning_kluebert_optuna_retrain.ipynb
Owners: @do0ori, @armihong

Track model.safetensors with Git LFS
  .gitattributes
  ai/app/models/model.safetensors
Owners: @do0ori, @armihong

fix: import 경로로 인한 배포 문제 해결
  ai/app/services/diary_emotion.py
Owners: @do0ori, @armihong

feat: 감정 라벨 한글로 변경
  ai/app/models/config.json
  ai/app/models/model_def.py
Owners: @do0ori, @armihong

refactor: 모델 로딩 및 긴 문장 분할 로직 개선
  ai/app/models/model_def.py
Owners: @do0ori, @armihong

fix: 모델 임포트 경로 상대경로로 수정
  ai/app/services/diary_emotion.py
Owners: @do0ori, @armihong

feat: 일기 감정 분석 API 엔드포인트에 빈 줄 추가해 PEP8 준수
  ai/app/routes/diary.py
Owners: @do0ori, @armihong

feat: 감정 라벨 리스트 쉼표 뒤 공백 추가로 포맷팅 개선
  ai/app/models/model_def.py
Owners: @do0ori, @armihong

feat: BertCNN 모델 및 Config 클래스 추가
  ai/app/models/bertcnn.py
Owners: @do0ori, @armihong

refactor: BertCNN 모델 적용을 위한 모델 로딩 로직 변경
  ai/app/models/model_def.py
Owners: @do0ori, @armihong

fix: DiaryEmotionResponse 필드명 camelCase로 수정
  ai/app/routes/diary.py
Owners: @do0ori, @armihong

fix: 상대 경로를 절대 경로로 수정하여 import 오류 해결
  ai/app/services/diary_emotion.py
Owners: @do0ori, @armihong

chore: kss 패키지 소스를 GitHub 저장소로 변경
  ai/app/requirements.txt
Owners: @do0ori, @armihong
