Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

chore: CodeRabbit 설정 파일 추가
  .coderabbit.yaml
Owners: @do0ori

chore: CodeRabbit 설정 파일 추가
  .coderabbit.yaml
Owners: @do0ori

feat: Google Gemini Live API 오디오 스트리밍 예제 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: Google Gemini Live API에 사용자와 AI의 대화 기록을 완성된 문장 단위로 저장하도록 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: 프로젝트 의존성 관리를 위한 requirements.txt 추가
  ai/requirements.txt
Owners: @armihong

docs: README.md에 실행 및 환경설정 안내 추가
  ai/README.md
Owners: @armihong

refactor: 환경변수 처리 및 예외 안정성 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: Google Gemini Live API 오디오 스트리밍 예제 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

docs: README.md에 실행 및 환경설정 안내 추가
  ai/README.md
Owners: @armihong

refactor: 환경변수 처리 및 예외 안정성 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: Google Gemini Live API 오디오 스트리밍 예제 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: Google Gemini Live API에 사용자와 AI의 대화 기록을 완성된 문장 단위로 저장하도록 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: 프로젝트 의존성 관리를 위한 requirements.txt 추가
  ai/requirements.txt
Owners: @armihong

docs: README.md에 실행 및 환경설정 안내 추가
  ai/README.md
Owners: @armihong

feat: 프로젝트 의존성 관리를 위한 requirements.txt 추가
  ai/requirements.txt
Owners: @armihong

feat: Google Gemini Live API에 사용자와 AI의 대화 기록을 완성된 문장 단위로 저장하도록 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: 환경변수 처리 및 예외 안정성 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: Google Gemini Live API 오디오 버퍼링 및 큐 크기 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: Google Gemini Live API 오디오 버퍼링 및 큐 크기 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: Google Gemini Live API 오디오 버퍼링 및 큐 크기 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: Swagger(OpenAPI) 설정 추가
  backend/build.gradle
  backend/src/main/java/com/airing/backend/config/SwaggerConfig.java
Owners: @Pandarang

feat: Swagger(OpenAPI) 설정 추가
  backend/build.gradle
  backend/src/main/java/com/airing/backend/config/SwaggerConfig.java
Owners: @Pandarang

docs: Swagger 문서에 헬스 체크 API 설명 추가
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
Owners: @Pandarang

docs: Swagger 문서에 헬스 체크 API 설명 추가
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
Owners: @Pandarang

docs: Swagger 문서에 HealthCheckController 태그 추가
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
Owners: @Pandarang

docs: Swagger 문서에 HealthCheckController 태그 추가
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
Owners: @Pandarang

docs: Swagger API 설명 문구 제거
  backend/src/main/java/com/airing/backend/config/SwaggerConfig.java
Owners: @Pandarang

docs: Swagger API 설명 문구 제거
  backend/src/main/java/com/airing/backend/config/SwaggerConfig.java
Owners: @Pandarang

feat: 기본 index.html 페이지 추가
  backend/src/main/resources/static/index.html
Owners: @Pandarang

feat: 기본 index.html 페이지 추가
  backend/src/main/resources/static/index.html
Owners: @Pandarang

style: Pretendard 웹폰트 CDN 링크 추가
  backend/src/main/resources/static/index.html
Owners: @Pandarang

style: Pretendard 웹폰트 CDN 링크 추가
  backend/src/main/resources/static/index.html
Owners: @Pandarang

chore: Render 서버 유지를 위한 ping 워크플로 추가
  .github/workflows/ping.yaml
Owners: @do0ori

chore: Render 서버 유지를 위한 ping 워크플로 추가
  .github/workflows/ping.yaml
Owners: @do0ori

chore: Render 서버 깨우기 워크플로 문법 수정 및 개선
  .github/workflows/ping.yaml
Owners: @do0ori

chore: Render 서버 깨우기 워크플로 문법 수정 및 개선
  .github/workflows/ping.yaml
Owners: @do0ori

chore: 동적 name 및 vars 사용 제거
  .github/workflows/ping.yaml
Owners: @do0ori

chore: 동적 name 및 vars 사용 제거
  .github/workflows/ping.yaml
Owners: @do0ori

chore: job-level if:를 step-level if:로 변경
  .github/workflows/ping.yaml
Owners: @do0ori

chore: job-level if:를 step-level if:로 변경
  .github/workflows/ping.yaml
Owners: @do0ori

.github/CODEOWNERS:

* @do0ori
/backend/  @Pandarang
/frontend/ @ricomados
/ai/ @armihong
