Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

다이어리에 사진 등록 및 삭제
  backend/.gitignore
  backend/src/main/java/com/airing/backend/config/Aws3sConfig.java
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryCreateRequest.java
  backend/src/main/java/com/airing/backend/image/repository/ImageRepository.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @do0ori, @Pandarang

refactor: AWS SDK v2 기반 S3Client 적용 및 이미지 서비스 수정
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/airing/backend/config/Aws3sConfig.java
  backend/src/main/java/com/airing/backend/config/AwsS3Config.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryUpdateRequest.java
  backend/src/main/java/com/airing/backend/diary/service/DiaryService.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/java/com/airing/backend/image/dto/PresignedUrlResponse.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/static/kakao_login_medium_narrow.png
Owners: @do0ori, @Pandarang

refactor: ignore env.properties
  backend/git-filter-repo.exe
Owners: @do0ori, @Pandarang

refactor: ignore env.properties
  backend/.gitignore
Owners: @do0ori, @Pandarang

feat: 눈 아이콘 SVG 추가
  frontend/src/assets/icons/ic-emotion-eyes.svg
Owners: @do0ori, @ricomados

chore: ignore env.properties
  .gitignore
Owners: @do0ori

refactor: AppLock 비밀번호 입력 박스 컴포넌트화
  frontend/src/screens/AppLockScreen.tsx
Owners: @do0ori, @ricomados

refactor: PasswordBox 상태 계산 로직 함수형으로 변경
  frontend/src/screens/AppLockScreen.tsx
Owners: @do0ori, @ricomados

refactor: PasswordBox 상태 계산 최적화
  frontend/src/screens/AppLockScreen.tsx
Owners: @do0ori, @ricomados

refactor: 비밀번호 입력 영역 컴포넌트로 분리
  frontend/src/screens/AppLockScreen.tsx
Owners: @do0ori, @ricomados

feat(RING-89): 이미지 업로드 및 관련 기능 리팩터링
  -files  grep env.properties
  backend/main/java/com/airing/backend/BackendApplication.java
  backend/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/main/java/com/airing/backend/auth/dto/ResetPasswordRequest.java
  backend/main/java/com/airing/backend/auth/jwt/JwtProvider.java
  backend/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/main/java/com/airing/backend/auth/refreshToken/RefreshToken.java
  backend/main/java/com/airing/backend/auth/refreshToken/RefreshTokenRepository.java
  backend/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/main/java/com/airing/backend/auth/security/PrincipalDetailsService.java
  backend/main/java/com/airing/backend/auth/service/AuthService.java
  backend/main/java/com/airing/backend/common/health/HealthCheckController.java
  backend/main/java/com/airing/backend/common/logging/LoggingFilter.java
  backend/main/java/com/airing/backend/config/AwsS3Config.java
  backend/main/java/com/airing/backend/config/SecurityConfig.java
  backend/main/java/com/airing/backend/config/SwaggerConfig.java
  backend/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/main/java/com/airing/backend/diary/dto/DiaryCreateRequest.java
  backend/main/java/com/airing/backend/diary/dto/DiaryDetailResponse.java
  backend/main/java/com/airing/backend/diary/dto/DiarySummaryResponse.java
  backend/main/java/com/airing/backend/diary/dto/DiaryUpdateRequest.java
  backend/main/java/com/airing/backend/diary/entity/Diary.java
  backend/main/java/com/airing/backend/diary/repository/DiaryRepository.java
  backend/main/java/com/airing/backend/diary/service/DiaryService.java
  backend/main/java/com/airing/backend/image/controller/ImageController.java
  backend/main/java/com/airing/backend/image/dto/PresignedUrlResponse.java
  backend/main/java/com/airing/backend/image/entity/Image.java
  backend/main/java/com/airing/backend/image/repository/ImageRepository.java
  backend/main/java/com/airing/backend/image/service/ImageService.java
  backend/main/java/com/airing/backend/user/dto/UserLoginRequest.java
  backend/main/java/com/airing/backend/user/dto/UserLoginResponse.java
  backend/main/java/com/airing/backend/user/dto/UserSignupRequest.java
  backend/main/java/com/airing/backend/user/entity/User.java
  backend/main/java/com/airing/backend/user/repository/UserRepository.java
  backend/main/resources/application.properties
  backend/main/resources/static/index.html
  backend/resources/application.properties
  backend/resources/static/index.html
Owners: @do0ori, @Pandarang

feat: 앱 잠금 화면(AppLock) 추가
  frontend/App.tsx
  frontend/src/screens/AppLockScreen.tsx
Owners: @do0ori, @ricomados

feat: 마이페이지 화면 추가 및 설정 스택에 마이페이지 연결
  frontend/src/navigation/SettingsStack.tsx
  frontend/src/screens/main/settings/MyPageScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @do0ori, @ricomados

feat: 아이콘 SVG 파일 추가 및 MyPageScreen 아이콘 UI 개선
  frontend/src/assets/icons/ic-lock.svg
  frontend/src/assets/icons/ic-phone.svg
  frontend/src/assets/icons/ic-pie-chart.svg
  frontend/src/assets/icons/ic-setting.svg
  frontend/src/screens/main/settings/MyPageScreen.tsx
Owners: @do0ori, @ricomados

feat: AI 전화 예약 기능 추가
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/call.svg
  frontend/src/assets/icons/toggle-off.svg
  frontend/src/assets/icons/toggle-on.svg
  frontend/src/assets/icons/vibrate.svg
  frontend/src/assets/icons/voice.svg
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/ReserveAiCallScreen.tsx
  frontend/src/screens/main/SettingsScreen.tsx
Owners: @do0ori, @ricomados

refactor: Figma 기반 아이콘 교체 및 파일명 컨벤션 통일
  frontend/src/assets/icons/call.svg
  frontend/src/assets/icons/ic-call.svg
  frontend/src/assets/icons/ic-toggle-off.svg
  frontend/src/assets/icons/ic-toggle-on.svg
  frontend/src/assets/icons/ic-vibrate.svg
  frontend/src/assets/icons/ic-voice.svg
  frontend/src/assets/icons/vibrate.svg
  frontend/src/assets/icons/voice.svg
  frontend/src/screens/main/ReserveAiCallScreen.tsx
Owners: @do0ori, @ricomados

chore: 불필요한 wheel picker expo 의존성 삭제
  frontend/package-lock.json
  frontend/package.json
Owners: @do0ori, @ricomados

feat: diray 생성, 수정, 삭제 기능 추가
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
Owners: @do0ori, @Pandarang

feat: 임시 일기 저장
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
Owners: @do0ori, @Pandarang

feat: Diary API 조회 기능 추가 (상세/월별 요약)
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
Owners: @do0ori, @Pandarang

feat: 이미지 업로드/삭제 구조 구성 및 AWS S3 설정 준비
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @do0ori, @Pandarang

feat: presigned-url 발급 및 ImageEntity 저장 기능 구현
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @do0ori, @Pandarang

fix: ã문법 오류 ìì수정
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @do0ori, @Pandarang

refactor: AWS SDK v2 기반 S3Client 적용 및 이미지 서비스 수정
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/airing/backend/config/Aws3sConfig.java
  backend/src/main/java/com/airing/backend/config/AwsS3Config.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryUpdateRequest.java
  backend/src/main/java/com/airing/backend/diary/service/DiaryService.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/java/com/airing/backend/image/dto/PresignedUrlResponse.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/static/kakao_login_medium_narrow.png
Owners: @do0ori, @Pandarang

feat: 다이어리에 사진 등록 및 삭제
  backend/.gitignore
  backend/src/main/java/com/airing/backend/config/Aws3sConfig.java
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryCreateRequest.java
  backend/src/main/java/com/airing/backend/image/repository/ImageRepository.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @do0ori, @Pandarang

refactor: AWS 설정 방식 개선 및 코드 정리
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/airing/backend/config/AwsS3Config.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/diary/service/DiaryService.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/properties/env.properties
Owners: @do0ori, @Pandarang

chore: env 설정 파일 .gitignore에 추가
  backend/.gitignore
  backend/src/main/resources/properties/env.properties
Owners: @do0ori, @Pandarang

chore: AwsS3Config에서 불필요한 @PropertySource 애노테이션 제거
  backend/src/main/java/com/airing/backend/config/AwsS3Config.java
Owners: @do0ori, @Pandarang

chore: 안드로이드 환경변경 반영 스크립트 추가
  frontend/package.json
Owners: @do0ori, @ricomados

feat: 앱 잠금 화면에 커스텀 숫자 패드 및 삭제 기능 추가
  frontend/src/assets/icons/ic-backspace.svg
  frontend/src/screens/AppLockScreen.tsx
Owners: @do0ori, @ricomados

refactor: 앱 잠금 화면에서 불필요한 터치 감지 제거
  frontend/src/screens/AppLockScreen.tsx
Owners: @do0ori, @ricomados

feat: 이미지 업로드 완료 시 사용자 알림 기능 추가
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
Owners: @do0ori, @Pandarang

feat: 이미지 업로드 및 삭제 기능 개선 및 사용자 알림 추가
  backend/src/main/java/com/airing/backend/image/repository/ImageRepository.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
  backend/src/main/resources/application.properties
Owners: @do0ori, @Pandarang

refactor: 공통 헤더 컴포넌트 분리 및 CallLogDetail에 적용
  frontend/src/components/Header.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
Owners: @do0ori, @ricomados

style: 헤더 상단 여백을 SafeArea 기준으로 조정
  frontend/src/components/Header.tsx
Owners: @do0ori, @ricomados

refactor: 불필요한 주석 제거
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
Owners: @do0ori, @ricomados

refactor: Header 컴포넌트에 marginBottom prop 추가
  frontend/src/components/Header.tsx
Owners: @do0ori, @ricomados

feat: 통화 이벤트 저장 기능 추가
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callLog/entity/CallLog.java
  backend/src/main/java/com/airing/backend/callLog/repository/CallLogRepository.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
  backend/src/main/resources/application.properties
Owners: @do0ori, @Pandarang

feat: 최근 통화 기록 조회 기능 추가
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogLatestResponse.java
  backend/src/main/java/com/airing/backend/callLog/entity/CallLog.java
  backend/src/main/java/com/airing/backend/callLog/repository/CallLogRepository.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
Owners: @do0ori, @Pandarang

refactoring: 500 에러 404로 변경
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
Owners: @do0ori, @Pandarang

.github/CODEOWNERS:

* @do0ori
/backend/ @do0ori @Pandarang 
/frontend/ @do0ori @ricomados
/ai/ @do0ori @armihong
