Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

.github/CODEOWNERS:

* @do0ori
/backend/  @Pandarang
/frontend/ @ricomados
/ai/ @armihong

feat: 설정 화면에 비밀번호 재설정 기능 추가
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/navigation/SettingsStack.tsx
  frontend/src/screens/auth/ResetPasswordScreen.tsx
  frontend/src/screens/main/SettingsScreen.tsx
Owners: @ricomados

feat: 비밀번호 재설정 API 연동
  frontend/src/api/authApi.ts
  frontend/src/screens/auth/ResetPasswordScreen.tsx
Owners: @ricomados

feat: 비밀번호 재설정 API 연동
  frontend/src/api/authApi.ts
  frontend/src/screens/auth/ResetPasswordScreen.tsx
Owners: @ricomados

fix: 로그인/회원가입 에러 메시지 개선
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
Owners: @ricomados

fix: 로그인/회원가입 에러 메시지 개선
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
Owners: @ricomados

refactor: 인증 API에 plainApi 사용하도록 변경
  frontend/src/api/authApi.ts
Owners: @ricomados

refactor: 인증 API에 plainApi 사용하도록 변경
  frontend/src/api/authApi.ts
Owners: @ricomados

feat: 회원가입 및 비밀번호 변경 후 스택 초기화 처리
  frontend/src/screens/auth/ResetPasswordScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
Owners: @ricomados

feat: 회원가입 및 비밀번호 변경 후 스택 초기화 처리
  frontend/src/screens/auth/ResetPasswordScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
Owners: @ricomados

refactor: Gemini ai call sever 세션 종료 및 서버 종료 로직 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

refactor: Gemini ai call server AudioLoop 구조 개선 및 안정성 향상
  ai/Gemini_ai_call_server.py
Owners: @armihong

refactor: Gemini Ai server AudioLoop 세션 관리 및 오디오 처리 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

refactor: Gemini ai call server AudioLoop 구조 개선 및 안정성 향상
  ai/Gemini_ai_call_server.py
Owners: @armihong

fix: test_client 파일 오디오 스트림 설정 실패 시 리소스 안전하게 해제
  ai/test_client.py
Owners: @armihong

feat: test_client 사용자 음성 인식 결과 실시간 전송 기능 추가
  ai/test_client.py
Owners: @armihong

feat:gemini ai call server AudioLoop 세션 관리 및 토큰 검증 로직 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

refactor: Gemini ai call server AI 응답 및 오디오 전송 로깅 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

refactor: test client 오디오 출력 스트림 및 재생 로직 개선
  ai/test_client.py
Owners: @armihong

refactor: test client 오디오 출력 스트림 및 재생 로직 개선
  ai/test_client.py
Owners: @armihong

refactor: Gemini ai call sever 세션 종료 및 서버 종료 로직 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

test: 오디오 WebSocket 테스트 클라이언트 추가
  ai/test_client.py
Owners: @armihong

refactor: Gemini ai call server AI 응답 및 오디오 전송 로깅 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

refactor: Gemini Ai server AudioLoop 세션 관리 및 오디오 처리 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

fix: test_client 파일 오디오 스트림 설정 실패 시 리소스 안전하게 해제
  ai/test_client.py
Owners: @armihong

feat: test_client 오디오 스트림 설정 및 디버깅 로깅 강화
  ai/test_client.py
Owners: @armihong

feat:gemini ai call server AudioLoop 세션 관리 및 토큰 검증 로직 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

feat: test_client 사용자 음성 인식 결과 실시간 전송 기능 추가
  ai/test_client.py
Owners: @armihong

feat: test_client 오디오 스트림 설정 및 디버깅 로깅 강화
  ai/test_client.py
Owners: @armihong

test: 오디오 WebSocket 테스트 클라이언트 추가
  ai/test_client.py
Owners: @armihong

feat: 로그아웃 요청 DTO 추가
  backend/src/main/java/com/airing/backend/auth/dto/LogoutRequest.java
Owners: @Pandarang

feat: 로그아웃 요청 DTO 추가
  backend/src/main/java/com/airing/backend/auth/dto/LogoutRequest.java
Owners: @Pandarang

feat: 로그아웃 요청 방식 변경 및 유효성 검증 추가
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
Owners: @Pandarang

feat: 로그아웃 요청 방식 변경 및 유효성 검증 추가
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
Owners: @Pandarang

fix: 로그아웃 API 호출 방식 수정
  frontend/src/api/authApi.ts
Owners: @ricomados

fix: 로그아웃 API 호출 방식 수정
  frontend/src/api/authApi.ts
Owners: @ricomados

임시 일기 저장
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryCreateRequest.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryUpdateRequest.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
  backend/src/main/resources/application.properties
Owners: @Pandarang

임시 일기 저장
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryCreateRequest.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryUpdateRequest.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
  backend/src/main/resources/application.properties
Owners: @Pandarang

refactor: ìrefresh token header 처리 및 환êtoken 만료 기한 환경변수 처리
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/dto/LogoutRequest.java
  backend/src/main/java/com/airing/backend/auth/dto/TokenReissueRequest.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtProvider.java
  backend/src/main/java/com/airing/backend/user/dto/UserLoginResponse.java
  backend/src/main/resources/application.properties
Owners: @Pandarang

refactor: ìrefresh token header 처리 및 환êtoken 만료 기한 환경변수 처리
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/dto/LogoutRequest.java
  backend/src/main/java/com/airing/backend/auth/dto/TokenReissueRequest.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtProvider.java
  backend/src/main/java/com/airing/backend/user/dto/UserLoginResponse.java
  backend/src/main/resources/application.properties
Owners: @Pandarang

feat: diray 생성, 수정, 삭제 기능 추가
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/user/entity/User.java
Owners: @Pandarang
