Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

style: Pretendard 폰트 제거
  frontend/src/components/Header.tsx
  frontend/src/components/ListItem.tsx
  frontend/src/components/MonthYearPicker.tsx
  frontend/src/components/password/NumPad.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/auth/WelcomeScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @do0ori, @ricomados

feat: 캘린더 일기 미작성 시 추천 문구 및 아이콘 추가
  frontend/src/assets/icons/ic-emotion-empty.svg
  frontend/src/components/ListItem.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

feat: 캘린더 스크린 스크롤 추가 및 통화 요약 섹션 구현
  frontend/src/components/ListItem.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

feat: 통화 요약 생성 및 저장/조회 기능 추가
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callSummary/controller/CallSummaryController.java
  backend/src/main/java/com/airing/backend/callSummary/dto/CallSummaryRequest.java
  backend/src/main/java/com/airing/backend/callSummary/dto/CallSummaryResponse.java
  backend/src/main/java/com/airing/backend/callSummary/entity/CallSummary.java
  backend/src/main/java/com/airing/backend/callSummary/repository/CallSummaryRepository.java
  backend/src/main/java/com/airing/backend/callSummary/service/CallSummaryService.java
Owners: @do0ori, @Pandarang

fix: 통화 기록 관련 예외 처리 로직 개선
  backend/src/main/java/com/airing/backend/callSummary/controller/CallSummaryController.java
  backend/src/main/java/com/airing/backend/callSummary/service/CallSummaryService.java
Owners: @do0ori, @Pandarang

style: AI 전화 예약 화면 UI 및 스타일 업데이트
  frontend/src/screens/main/ReserveAiCallScreen.tsx
Owners: @do0ori, @ricomados

feat: SafeArea 반영된 공통 레이아웃(AppScreen) 추가
  frontend/src/components/AppScreen.tsx
  frontend/src/components/Header.tsx
Owners: @do0ori, @ricomados

fix: 커스텀 탭바에 SafeAreaInsets 반영
  frontend/src/navigation/HomeTabs.tsx
Owners: @do0ori, @ricomados

refactor: AppScreen 도입 및 Calendar 선택 로직 개선
  frontend/src/components/password/NumPad.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/SplashScreen.tsx
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
  frontend/src/screens/auth/WelcomeScreen.tsx
  frontend/src/screens/main/ReserveAiCallScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
  frontend/src/screens/main/settings/SecuritySettingsScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @do0ori, @ricomados

refactor: SafeArea 처리 개선 및 CalendarScreen 스타일 분리
  frontend/src/components/AppScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

fix: 통화 이벤트 요청 필드 및 예외 처리 개선
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
  backend/src/main/resources/application.properties
Owners: @do0ori, @Pandarang

feat: 전처리 전후 AI 응답 비교 기능 추가
  ai/Ai_summary_diary.py
  ai/python
Owners: @do0ori, @armihong

refactor: AI 전화 예약 화면 파일 및 라우트 이름 변경
  frontend/App.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
Owners: @do0ori, @ricomados

refactor: AI 전화 설정 화면 UI 및 컴포넌트 구조 개선
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
Owners: @do0ori, @ricomados

feat: 커스텀 스위치 컴포넌트 추가
  frontend/src/components/Switch.tsx
Owners: @do0ori, @ricomados

refactor: 커스텀 Switch 컴포넌트로 토글 UI 통합
  frontend/src/assets/icons/ic-toggle-off.svg
  frontend/src/assets/icons/ic-toggle-on.svg
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/screens/main/settings/SecuritySettingsScreen.tsx
Owners: @do0ori, @ricomados

chore: 사용하지 않는 라이브러리 삭제
  frontend/package-lock.json
  frontend/package.json
Owners: @do0ori, @ricomados

feat: visibleItemCount를 지원하는 WheelPicker 컴포넌트 추가
  frontend/src/components/WheelPicker.tsx
Owners: @do0ori, @ricomados

feat: WheelPicker에 zeroPadLength 옵션 추가
  frontend/src/components/WheelPicker.tsx
Owners: @do0ori, @ricomados

feat: 시간 선택용 TimePicker 컴포넌트 추가
  frontend/src/components/TimePicker.tsx
Owners: @do0ori, @ricomados

refactor: AI 통화 설정 화면에서 시간 선택 UI 개선
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
Owners: @do0ori, @ricomados

refactor: 옵션 항목의 toggle 동작 분리 및 명확화
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
Owners: @do0ori, @ricomados

feat: ScrollPicker 컴포넌트 구조 개선 및 무한 스크롤 기능 통합
  frontend/src/components/TimePicker.tsx
  frontend/src/components/WheelPicker.tsx
Owners: @do0ori, @ricomados

refactor: 컴포넌트 디렉토리 구조 정리 및 경로 수정
  frontend/src/components/common/HorizontalDivider.tsx
  frontend/src/components/common/ListItem.tsx
  frontend/src/components/common/Switch.tsx
  frontend/src/components/layout/AppScreen.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/picker/MonthYearPicker.tsx
  frontend/src/components/picker/TimePicker.tsx
  frontend/src/components/picker/WheelPicker.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/SplashScreen.tsx
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
  frontend/src/screens/auth/WelcomeScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
  frontend/src/screens/main/settings/SecuritySettingsScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @do0ori, @ricomados

refactor: 12시간제 → 24시간제 변환 로직을 유틸 함수로 분리
  frontend/src/components/picker/TimePicker.tsx
Owners: @do0ori, @ricomados

feat: 통화 관련 아이콘 추가 및 기존 아이콘 색상 수정
  frontend/src/assets/icons/ic-call-answer.svg
  frontend/src/assets/icons/ic-call-decline.svg
  frontend/src/assets/icons/ic-emotion-eyes.svg
Owners: @do0ori, @ricomados

fix: icon import 경로 수정
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @do0ori, @ricomados

feat: EmojiBox 컴포넌트 생성 및 PasswordBox에 적용
  frontend/src/components/common/EmojiBox.tsx
  frontend/src/components/password/PasswordBox.tsx
Owners: @do0ori, @ricomados

feat: CallScreen 화면 추가 및 HomeTabs에서 진입 경로 연결
  frontend/App.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call/CallScreen.tsx
Owners: @do0ori, @ricomados

style: CallScreen의 슬라이드 버튼에 glow 효과 추가
  frontend/src/screens/main/call/CallScreen.tsx
Owners: @do0ori, @ricomados

feat: 통화 화면에 슬라이드 제스처 및 glow 효과 추가
  frontend/src/screens/main/call/CallScreen.tsx
Owners: @do0ori, @ricomados

feat: 통화 화면에 슬라이드 응답 처리 및 상태별 glow 효과 추가
  frontend/src/screens/main/call/CallScreen.tsx
Owners: @do0ori, @ricomados

feat: 마이크 끔 및 스피커 아이콘 추가
  frontend/src/assets/icons/ic-mic-off.svg
  frontend/src/assets/icons/ic-speaker.svg
Owners: @do0ori, @ricomados

feat: 통화 화면 분리 및 통화 중 UI 추가
  frontend/App.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call/CallActiveScreen.tsx
  frontend/src/screens/main/call/IncomingCallScreen.tsx
Owners: @do0ori, @ricomados

chore: Reanimated 설정 추가 및 관련 의존성 설치
  frontend/babel.config.js
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
Owners: @do0ori, @ricomados

feat: 통화 중 화면에 실시간 통화 시간 표시 추가
  frontend/src/screens/main/call/CallActiveScreen.tsx
  frontend/src/utils/date.ts
Owners: @do0ori, @ricomados

feat: 앱 잠금 비밀번호 입력 키패드에 전체 삭제 기능 추가
  frontend/src/components/password/NumPad.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
Owners: @do0ori, @ricomados

chore: 앱 로고 svg 파일 업로드
  frontend/src/assets/logos/logo-character.svg
  frontend/src/assets/logos/logo-wordmark.svg
Owners: @do0ori, @ricomados

style: 웰컴 화면 UI 개선 및 워드마크 로고 적용
  frontend/src/screens/auth/WelcomeScreen.tsx
Owners: @do0ori, @ricomados

style: 로그인·회원가입·비밀번호 변경 화면 UI 개선
  frontend/src/components/layout/Header.tsx
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
Owners: @do0ori, @ricomados

.github/CODEOWNERS:

* @do0ori
/backend/ @do0ori @Pandarang 
/frontend/ @do0ori @ricomados
/ai/ @do0ori @armihong
