Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

feat: diray 생성, 수정, 삭제 기능 추가
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/user/entity/User.java
Owners: @Pandarang

fix: JWT 필터 제외 경로와 permitAll 경로 일치시킴
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

fix: JWT 필터 제외 경로와 permitAll 경로 일치시킴
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

feat: HTTP 요청 및 응답 로깅 필터 추가
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

feat: HTTP 요청 및 응답 로깅 필터 추가
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

refactor: ANSI 색상 코드 상수화로 로그 출력 개선
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

refactor: ANSI 색상 코드 상수화로 로그 출력 개선
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

fix: shouldNotFilter에서 인증 우회 경로 매칭 오류 수정
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
Owners: @Pandarang

fix: shouldNotFilter에서 인증 우회 경로 매칭 오류 수정
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
Owners: @Pandarang

fix: /error 경로로의 forward 요청이 403 오류로 차단되는 문제 해결
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

fix: /error 경로로의 forward 요청이 403 오류로 차단되는 문제 해결
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

refactor: LoggingAspect를 LoggingFilter로 클래스명 변경
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

refactor: LoggingAspect를 LoggingFilter로 클래스명 변경
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

feat: Diary API 조회 기능 추가 (상세/월별 요약)
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryDetailResponse.java
  backend/src/main/java/com/airing/backend/diary/dto/DiarySummaryResponse.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
Owners: @Pandarang

feat: Diary API 조회 기능 추가 (상세/월별 요약)
  backend/src/main/java/com/airing/backend/diary/Service/DiaryService.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryDetailResponse.java
  backend/src/main/java/com/airing/backend/diary/dto/DiarySummaryResponse.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
Owners: @Pandarang

refactor: 요청/응답 본문 로깅 개선 및 안정성 향상
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

refactor: 요청/응답 본문 로깅 개선 및 안정성 향상
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

refactor: 토큰 전달 방식을 Authorization 헤더로 변경
  frontend/src/api/authApi.ts
Owners: @ricomados

refactor: 토큰 전달 방식을 Authorization 헤더로 변경
  frontend/src/api/authApi.ts
Owners: @ricomados

ci: PR 제목과 브랜치의 RING 번호 일치 여부 검증 추가
  .github/workflows/pr_labeler_validator.yaml
Owners: @do0ori

ci: PR 제목과 브랜치의 RING 번호 일치 여부 검증 추가
  .github/workflows/pr_labeler_validator.yaml
Owners: @do0ori

feat: WelcomeScreen 추가 및 인증 스택에 적용
  frontend/src/navigation/AuthStack.tsx
  frontend/src/screens/auth/WelcomeScreen.tsx
Owners: @ricomados

feat: WelcomeScreen 추가 및 인증 스택에 적용
  frontend/src/navigation/AuthStack.tsx
  frontend/src/screens/auth/WelcomeScreen.tsx
Owners: @ricomados

chore: SVG 아이콘 추가 및 파일명 스네이크 → 케밥 케이스로 변경
  frontend/src/assets/icons/ic-info-circle.svg
  frontend/src/assets/icons/ic-phone-declined.svg
  frontend/src/assets/icons/ic-phone-incoming.svg
  frontend/src/assets/icons/ic-phone-outgoing.svg
  frontend/src/assets/icons/tab-calendar.svg
  frontend/src/assets/icons/tab-center.svg
  frontend/src/assets/icons/tab-log.svg
  frontend/src/assets/icons/tab-report.svg
  frontend/src/assets/icons/tab-settings.svg
Owners: @ricomados

chore: SVG 아이콘 추가 및 파일명 스네이크 → 케밥 케이스로 변경
  frontend/src/assets/icons/ic-info-circle.svg
  frontend/src/assets/icons/ic-phone-declined.svg
  frontend/src/assets/icons/ic-phone-incoming.svg
  frontend/src/assets/icons/ic-phone-outgoing.svg
  frontend/src/assets/icons/tab-calendar.svg
  frontend/src/assets/icons/tab-center.svg
  frontend/src/assets/icons/tab-log.svg
  frontend/src/assets/icons/tab-report.svg
  frontend/src/assets/icons/tab-settings.svg
Owners: @ricomados

refactor: 화면 및 아이콘 파일 디렉터리 구조 정리
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/navigation/SettingsStack.tsx
  frontend/src/screens/main/call-log/LogScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @ricomados

refactor: 화면 및 아이콘 파일 디렉터리 구조 정리
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/navigation/SettingsStack.tsx
  frontend/src/screens/main/call-log/LogScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Owners: @ricomados

fix: /error 경로로의 forward 요청이 403 오류로 차단되는 문제 해결
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

refactor: ANSI 색상 코드 상수화로 로그 출력 개선
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

refactor: LoggingAspect를 LoggingFilter로 클래스명 변경
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

fix: /error 경로로의 forward 요청이 403 오류로 차단되는 문제 해결
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

feat: HTTP 요청 및 응답 로깅 필터 추가
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

refactor: ANSI 색상 코드 상수화로 로그 출력 개선
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

fix: shouldNotFilter에서 인증 우회 경로 매칭 오류 수정
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
Owners: @Pandarang

refactor: LoggingAspect를 LoggingFilter로 클래스명 변경
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

fix: shouldNotFilter에서 인증 우회 경로 매칭 오류 수정
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
Owners: @Pandarang

fix: JWT 필터 제외 경로와 permitAll 경로 일치시킴
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

feat: HTTP 요청 및 응답 로깅 필터 추가
  backend/src/main/java/com/airing/backend/common/logging/LoggingAspect.java
Owners: @Pandarang

fix: JWT 필터 제외 경로와 permitAll 경로 일치시킴
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Owners: @Pandarang

refactor: 요청/응답 본문 로깅 개선 및 안정성 향상
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
Owners: @Pandarang

.github/CODEOWNERS:

* @do0ori
/backend/  @Pandarang
/frontend/ @ricomados
/ai/ @armihong
