Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

.github/CODEOWNERS:

* @do0ori
/backend/ @do0ori @Pandarang 
/frontend/ @do0ori @ricomados
/ai/ @do0ori @armihong

docs: 프로젝트 폴더 구조 확장 및 설명 보완
  ai/README.md
Owners: @do0ori, @armihong

docs: 공식 문서 내용대로 가상환경 활성화 방법 수정
  ai/README.md
Owners: @do0ori, @armihong

chore: 배포를 위해 app 폴더에 관련 파일 취합
  ai/app/core/config.py
  ai/app/requirements.txt
Owners: @do0ori, @armihong

docs: 수정된 프로젝트 구조 반영
  ai/README.md
Owners: @do0ori, @armihong

feat: Render 배포 확인용 health-check 엔드포인트 추가
  ai/app/main.py
Owners: @do0ori, @armihong

docs: Render 배포 방식에 맞춰 실행 방식 수정
  ai/README.md
Owners: @do0ori, @armihong

fix: 서버 실행 방식 변경에 따른 import 방식 수정
  ai/app/main.py
  ai/app/routes/auth.py
Owners: @do0ori, @armihong

docs: 기술 스택 수정
  ai/README.md
Owners: @do0ori, @armihong

feat: 기본 루트 경로에 정적 index.html 페이지 추가
  ai/app/main.py
  ai/app/static/index.html
Owners: @do0ori, @armihong

refactor: 시스템 라우트를 system 모듈로 분리
  ai/app/main.py
  ai/app/routes/system.py
Owners: @do0ori, @armihong

refactor: CallLog rawTranscript를 JSON 리스트로 구조화
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callLog/entity/CallLog.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
  backend/src/main/java/com/airing/backend/common/converter/JsonConverter.java
Owners: @do0ori, @Pandarang

feat: 대화(통화) 준비 API 추가
  backend/src/main/java/com/airing/backend/config/RestTemplateConfig.java
  backend/src/main/java/com/airing/backend/conversations/controller/ConversationController.java
  backend/src/main/java/com/airing/backend/conversations/dto/ConversationInitRequest.java
  backend/src/main/java/com/airing/backend/conversations/dto/ConversationInitResponse.java
  backend/src/main/java/com/airing/backend/conversations/service/ConversationService.java
  backend/src/main/resources/application.properties
Owners: @do0ori, @Pandarang

refactor: 일부 endpoint에서 누락된 /api 접두어 추가
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callSummary/controller/CallSummaryController.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
Owners: @do0ori, @Pandarang

fix: AI 서버 통신 실패 시 예외 처리 및 타임아웃 설정
  backend/src/main/java/com/airing/backend/config/RestTemplateConfig.java
  backend/src/main/java/com/airing/backend/conversations/service/ConversationService.java
Owners: @do0ori, @Pandarang

feat: ephemeral token 요청에 재시도 로직 추가
  backend/src/main/java/com/airing/backend/conversations/service/ConversationService.java
Owners: @do0ori, @Pandarang

refactor: 통합된 CallLog 저장 로직에 맞춰 /events API 및 DTO 제거
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
Owners: @do0ori, @Pandarang

refactor: 공통 Message 모델 분리 및 적용
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogDetailResponse.java
  backend/src/main/java/com/airing/backend/callLog/entity/CallLog.java
  backend/src/main/java/com/airing/backend/common/converter/JsonConverter.java
  backend/src/main/java/com/airing/backend/common/model/Message.java
Owners: @do0ori, @Pandarang

feat: 메시지 기록 API 추가
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogInitRequest.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogInitResponse.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
  backend/src/main/java/com/airing/backend/conversations/controller/ConversationController.java
  backend/src/main/java/com/airing/backend/conversations/dto/ConversationInitRequest.java
  backend/src/main/java/com/airing/backend/conversations/dto/ConversationInitResponse.java
  backend/src/main/java/com/airing/backend/conversations/service/ConversationService.java
Owners: @do0ori, @Pandarang

feat: 통화 종료 처리 API 추가
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
Owners: @do0ori, @Pandarang

fix: 사용자 ID 추출 표현식 수정
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
Owners: @do0ori, @Pandarang

fix: 통화 기록 접근 권한 검증 추가
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
Owners: @do0ori, @Pandarang

docs: README 개편 및 주요 기능, 설계 자료 추가
  README.md
Owners: @do0ori

docs: 프론트엔드 README 정비 및 실행 가이드 정리
  frontend/README.md
Owners: @do0ori, @ricomados

feat: 통화 준비 API 및 타입 정의
  frontend/src/api/authApi.ts
  frontend/src/types/call.ts
Owners: @do0ori, @ricomados

feat: aiCall util 추가 및 통화 준비 로직 연결
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call/IncomingCallScreen.tsx
  frontend/src/utils/aiCall.ts
Owners: @do0ori, @ricomados

refactor: 통화 타입 및 화자 타입 공통 타입 정의로 통합
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/types/call.ts
Owners: @do0ori, @ricomados

refactor: 달력 관련 상수들을 constants 파일로 통합
  frontend/src/constants/calendar.ts
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
Owners: @do0ori, @ricomados

refactor: AI 통화 관련 상수들을 constants 디렉토리로 분리
  frontend/src/constants/aiCall.ts
  frontend/src/screens/main/call/IncomingCallScreen.tsx
  frontend/src/screens/main/settings/SelectCallBackScreen.tsx
  frontend/src/screens/main/settings/SelectVibrateScreen.tsx
  frontend/src/screens/main/settings/SelectVoiceScreen.tsx
  frontend/src/store/aiCallSettingsStore.ts
  frontend/src/utils/alarmManager.ts
Owners: @do0ori, @ricomados

refactor: 비밀번호 상수 파일을 constants 디렉토리로 이동
  frontend/src/components/password/PasswordBox.tsx
  frontend/src/components/password/PasswordInputArea.tsx
  frontend/src/constants/password.ts
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
Owners: @do0ori, @ricomados

refactor: 레이아웃 상수를 constants 디렉토리로 이동
  frontend/src/components/layout/AppScreen.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/constants/layout.ts
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
Owners: @do0ori, @ricomados

chore: 종속성 버전 업데이트 (babel, react-navigation 등)
  frontend/package-lock.json
  frontend/src/assets/icons/ic-Ellipse34.svg
  frontend/src/assets/icons/ic-Group.svg
  frontend/src/assets/icons/ic-Group104.svg
  frontend/src/assets/icons/ic-Rectangleyellow.svg
  frontend/src/assets/icons/ic-Union.svg
  frontend/src/assets/icons/ic-Vector 8.svg
  frontend/src/assets/icons/ic-Vector.svg
  frontend/src/assets/icons/ic-Vector1.svg
  frontend/src/assets/icons/ic-eye.svg
  frontend/src/components/AnalysisText.tsx
  frontend/src/components/DateText.tsx
  frontend/src/components/DiaryContentText.tsx
  frontend/src/components/EmotionAnalysisChart.tsx
  frontend/src/components/EmotionChart.tsx
  frontend/src/components/GraphTitle.tsx
  frontend/src/components/InfoIcon.tsx
  frontend/src/components/LIGHT.tsx
  frontend/src/components/MoveToDiaryText.tsx
  frontend/src/components/Rectangle14955.tsx
  frontend/src/components/Rectangle14956.tsx
  frontend/src/components/Rectangle14999.tsx
  frontend/src/components/Rectangle15000.tsx
  frontend/src/components/Rectangle15004.tsx
  frontend/src/components/Vector.tsx
  frontend/src/components/Vector8Icon.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
Owners: @do0ori, @ricomados

feat: DiaryEntryScreen 추가 및 라우팅 설정
  frontend/App.tsx
  frontend/android/app/src/main/assets/index.android.bundle
  frontend/diff.txt
  frontend/src/assets/icons/ic-Ellipse34.svg
  frontend/src/assets/icons/ic-Group104.svg
  frontend/src/assets/icons/ic-back.svg
  frontend/src/assets/icons/ic-camera.svg
  frontend/src/assets/icons/ic-eye.svg
  frontend/src/assets/icons/ic-return.svg
  frontend/src/assets/icons/ic-smile.svg
  frontend/src/assets/icons/ic-text.svg
  frontend/src/assets/icons/ic-write.svg
  frontend/src/screens/main/DiaryEntryScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
Owners: @do0ori, @ricomados

feat: 통화 시작 시 중복 호출 방지 및 로딩 표시 추가
  frontend/src/navigation/HomeTabs.tsx
Owners: @do0ori, @ricomados

feat: 수신 통화 연결 시 로딩 표시 및 애니메이션 복구 추가
  frontend/src/screens/main/call/IncomingCallScreen.tsx
Owners: @do0ori, @ricomados

refactor: TimePicker 값 파싱 로직을 유틸 함수로 분리
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/utils/date.ts
Owners: @do0ori, @ricomados

refactor: 통화 거절 및 콜백 로직 분리 및 텍스트 명확화
  frontend/src/screens/main/call/IncomingCallScreen.tsx
Owners: @do0ori, @ricomados

fix: AI 통화 설정 store rehydration trigger 추가해 값 불일치 문제 해결
  frontend/App.tsx
Owners: @do0ori, @ricomados

파일명 변경
  frontend/src/assets/icons/ic-Rectangleyellow.svg
  frontend/src/assets/icons/ic-RightPointer.svg
  frontend/src/assets/icons/ic-SettingIcon.svg
  frontend/src/assets/icons/ic-Sun.svg
  frontend/src/assets/icons/ic-UnderBar.svg
  frontend/src/assets/icons/ic-Union.svg
  frontend/src/assets/icons/ic-WhiteEllipse.svg
  frontend/src/assets/icons/ic-eye.svg
  frontend/src/components/AnalysisText.tsx
  frontend/src/components/DateText.tsx
  frontend/src/components/DiaryContentText.tsx
  frontend/src/components/EmotionAnalysisChart.tsx
  frontend/src/components/EmotionChart.tsx
  frontend/src/components/GraphTitle.tsx
  frontend/src/components/InfoIcon.tsx
  frontend/src/components/MoveToDiaryText.tsx
  frontend/src/components/Rectangle14955.tsx
  frontend/src/components/Rectangle14956.tsx
  frontend/src/components/Rectangle14999.tsx
  frontend/src/components/Rectangle15000.tsx
  frontend/src/components/Rectangle15004.tsx
  frontend/src/components/Vector.tsx
  frontend/src/components/Vector8Icon.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
Owners: @do0ori, @ricomados

feat: DiaryEntryScreen 추가 및 라우팅 설정
  frontend/App.tsx
  frontend/src/assets/icons/ic-back.svg
  frontend/src/assets/icons/ic-camera.svg
  frontend/src/assets/icons/ic-return.svg
  frontend/src/assets/icons/ic-smile.svg
  frontend/src/assets/icons/ic-text.svg
  frontend/src/assets/icons/ic-write.svg
  frontend/src/screens/main/DiaryEntryScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

Revert "[RING-125] 레포트 페이지"
  frontend/src/assets/icons/ic-Rectangleyellow.svg
  frontend/src/assets/icons/ic-RightPointer.svg
  frontend/src/assets/icons/ic-SettingIcon.svg
  frontend/src/assets/icons/ic-Sun.svg
  frontend/src/assets/icons/ic-UnderBar.svg
  frontend/src/assets/icons/ic-Union.svg
  frontend/src/assets/icons/ic-WhiteEllipse.svg
  frontend/src/assets/icons/ic-eye.svg
  frontend/src/components/AnalysisText.tsx
  frontend/src/components/DateText.tsx
  frontend/src/components/DiaryContentText.tsx
  frontend/src/components/EmotionAnalysisChart.tsx
  frontend/src/components/EmotionChart.tsx
  frontend/src/components/GraphTitle.tsx
  frontend/src/components/InfoIcon.tsx
  frontend/src/components/MoveToDiaryText.tsx
  frontend/src/components/Rectangle14955.tsx
  frontend/src/components/Rectangle14956.tsx
  frontend/src/components/Rectangle14999.tsx
  frontend/src/components/Rectangle15000.tsx
  frontend/src/components/Rectangle15004.tsx
  frontend/src/components/Vector.tsx
  frontend/src/components/Vector8Icon.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
Owners: @do0ori, @ricomados
