Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

.github/CODEOWNERS:

* @do0ori
/backend/  @Pandarang
/frontend/ @ricomados
/ai/ @armihong

fix: secrets 컨텍스트 오류 해결 및 curl fallback 추가
  .github/workflows/ping.yaml
Owners: @do0ori

fix: secrets 컨텍스트 오류 해결 및 curl fallback 추가
  .github/workflows/ping.yaml
Owners: @do0ori

소셜이 아닌 직접 로그인 및 회원가입 기능 구현(airing ì데베 연결 함)
  backend/build.gradle
  backend/src/main/java/com/airing/backend/auth/PrincipalDetails.java
  backend/src/main/java/com/airing/backend/auth/PrincipalDetailsService.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
  backend/src/main/java/com/airing/backend/controller/IndexController.java
  backend/src/main/java/com/airing/backend/entity/User.java
  backend/src/main/java/com/airing/backend/user/entity/User.java
  backend/src/main/java/com/airing/backend/user/repository/UserRepository.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/static/kakao_login_medium_narrow.png
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/joinForm.html
  backend/src/main/resources/templates/loginForm.html
Owners: @Pandarang

소셜이 아닌 직접 로그인 및 회원가입 기능 구현(airing ì데베 연결 함)
  backend/build.gradle
  backend/src/main/java/com/airing/backend/auth/PrincipalDetails.java
  backend/src/main/java/com/airing/backend/auth/PrincipalDetailsService.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
  backend/src/main/java/com/airing/backend/controller/IndexController.java
  backend/src/main/java/com/airing/backend/entity/User.java
  backend/src/main/java/com/airing/backend/user/entity/User.java
  backend/src/main/java/com/airing/backend/user/repository/UserRepository.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/static/kakao_login_medium_narrow.png
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/joinForm.html
  backend/src/main/resources/templates/loginForm.html
Owners: @Pandarang

feat: Google Gemini Live API AI 음성 선택 및 자동 종료 기능 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: Google Gemini Live API 태스크 관리 방식 개선 및 정리 로직 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: Google Gemini Live API 태스크 관리 방식 개선 및 정리 로직 추가
  ai/Get_started_LiveAPI.py
Owners: @armihong

feat: Gemini AI 실시간 음성 대화 서버 구현
  ai/Gemini_ai_call_server.py
Owners: @armihong

feat: Gemini AI 실시간 음성 대화 서버 구현
  ai/Gemini_ai_call_server.py
Owners: @armihong

chore: react-native-dotenv 적용을 위한 ESLint 및 Babel 설정 추가
  frontend/.eslintrc.js
  frontend/babel.config.js
Owners: @ricomados

chore: react-native-dotenv 적용을 위한 ESLint 및 Babel 설정 추가
  frontend/.eslintrc.js
  frontend/babel.config.js
Owners: @ricomados

chore(android): 패키지명 com.airing.frontend로 변경
  frontend/android/app/build.gradle
  frontend/android/app/src/main/java/com/airing/frontend/MainActivity.kt
  frontend/android/app/src/main/java/com/airing/frontend/MainApplication.kt
Owners: @ricomados

chore: react-native-dotenv 패키지 추가
  frontend/package-lock.json
  frontend/package.json
Owners: @ricomados

feat: release 환경 분리를 위한 Gradle 설정 추가
  frontend/android/app/build.gradle
Owners: @ricomados

build: local.properties 기반 Android 릴리즈 서명 설정 적용
  frontend/android/app/build.gradle
Owners: @ricomados

chore: react-native-dotenv 패키지 추가
  frontend/package-lock.json
  frontend/package.json
Owners: @ricomados

build: local.properties 기반 Android 릴리즈 서명 설정 적용
  frontend/android/app/build.gradle
Owners: @ricomados

chore(android): 패키지명 com.airing.frontend로 변경
  frontend/android/app/build.gradle
  frontend/android/app/src/main/java/com/airing/frontend/MainActivity.kt
  frontend/android/app/src/main/java/com/airing/frontend/MainApplication.kt
Owners: @ricomados

feat: release 환경 분리를 위한 Gradle 설정 추가
  frontend/android/app/build.gradle
Owners: @ricomados

feat: React Navigation 및 Vector Icons 라이브러리 추가
  frontend/android/app/build.gradle
  frontend/package-lock.json
  frontend/package.json
Owners: @ricomados

feat: 하단 탭 네비게이션 및 전화 연결 FAB 추가
  frontend/App.tsx
  frontend/src/screens/CalendarScreen.tsx
  frontend/src/screens/LogScreen.tsx
  frontend/src/screens/ReportScreen.tsx
  frontend/src/screens/SettingsScreen.tsx
Owners: @ricomados

feat: 하단 탭 네비게이션 및 전화 연결 FAB 추가
  frontend/App.tsx
  frontend/src/screens/CalendarScreen.tsx
  frontend/src/screens/LogScreen.tsx
  frontend/src/screens/ReportScreen.tsx
  frontend/src/screens/SettingsScreen.tsx
Owners: @ricomados

feat: React Navigation 및 Vector Icons 라이브러리 추가
  frontend/android/app/build.gradle
  frontend/package-lock.json
  frontend/package.json
Owners: @ricomados

refactor:Google Gemini Live API 오디오 루프 예외 처리 및 태스크 관리 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: Gemini_ai-call_server 오디오 루프 예외 처리 및 큐 관리 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

refactor:Google Gemini Live API 오디오 루프 예외 처리 및 태스크 관리 개선
  ai/Get_started_LiveAPI.py
Owners: @armihong

refactor: Gemini_ai-call_server 오디오 루프 예외 처리 및 큐 관리 개선
  ai/Gemini_ai_call_server.py
Owners: @armihong

feat: Gemini 기반 일기 자동 요약 스크립트 추가
  ai/Gemini_diary_summary.py
Owners: @armihong

feat: Gemini 기반 일기 자동 요약 스크립트 추가
  ai/Gemini_diary_summary.py
Owners: @armihong

feat: 로그아웃/비밀번호 변경 및 refreshToken 재발급 기능 추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/dto/ResetPasswordRequest.java
  backend/src/main/java/com/airing/backend/auth/dto/TokenReissueRequest.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtProvider.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/auth/refreshToken/RefreshToken.java
  backend/src/main/java/com/airing/backend/auth/refreshToken/RefreshTokenRepository.java
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetailsService.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
  backend/src/main/java/com/airing/backend/controller/IndexController.java
  backend/src/main/java/com/airing/backend/user/dto/UserLoginRequest.java
  backend/src/main/java/com/airing/backend/user/dto/UserLoginResponse.java
  backend/src/main/java/com/airing/backend/user/dto/UserSignupRequest.java
  backend/src/main/java/com/airing/backend/user/entity/User.java
  backend/src/main/java/com/airing/backend/user/repository/UserRepository.java
  backend/src/main/resources/application.properties
Owners: @Pandarang

feat: 로그아웃/비밀번호 변경 및 refreshToken 재발급 기능 추가
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/dto/ResetPasswordRequest.java
  backend/src/main/java/com/airing/backend/auth/dto/TokenReissueRequest.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtProvider.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/auth/refreshToken/RefreshToken.java
  backend/src/main/java/com/airing/backend/auth/refreshToken/RefreshTokenRepository.java
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetailsService.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
  backend/src/main/java/com/airing/backend/controller/IndexController.java
  backend/src/main/java/com/airing/backend/user/dto/UserLoginRequest.java
  backend/src/main/java/com/airing/backend/user/dto/UserLoginResponse.java
  backend/src/main/java/com/airing/backend/user/dto/UserSignupRequest.java
  backend/src/main/java/com/airing/backend/user/entity/User.java
  backend/src/main/java/com/airing/backend/user/repository/UserRepository.java
  backend/src/main/resources/application.properties
Owners: @Pandarang

feat: SVG 파일 import를 위한 설정 추가
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/declarations.d.ts
Owners: @ricomados

feat: SVG 파일 import를 위한 설정 추가
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/declarations.d.ts
Owners: @ricomados

feat: 탭 아이콘용 SVG 파일 추가
  frontend/src/assets/icons/tab_calendar.svg
  frontend/src/assets/icons/tab_center.svg
  frontend/src/assets/icons/tab_log.svg
  frontend/src/assets/icons/tab_report.svg
  frontend/src/assets/icons/tab_settings.svg
Owners: @ricomados

feat: 탭 아이콘용 SVG 파일 추가
  frontend/src/assets/icons/tab_calendar.svg
  frontend/src/assets/icons/tab_center.svg
  frontend/src/assets/icons/tab_log.svg
  frontend/src/assets/icons/tab_report.svg
  frontend/src/assets/icons/tab_settings.svg
Owners: @ricomados

feat: 하단 탭 아이콘을 SVG로 교체 및 스타일 개선
  frontend/App.tsx
Owners: @ricomados

feat: 하단 탭 아이콘을 SVG로 교체 및 스타일 개선
  frontend/App.tsx
Owners: @ricomados

feat: accessToken, refreshToken 기한 완료 체크
  backend/.gitignore
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtProvider.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/joinForm.html
  backend/src/main/resources/templates/loginForm.html
Owners: @Pandarang

feat: accessToken, refreshToken 기한 완료 체크
  backend/.gitignore
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtProvider.java
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/templates/index.html
  backend/src/main/resources/templates/joinForm.html
  backend/src/main/resources/templates/loginForm.html
Owners: @Pandarang

style: ESLint 경고 및 코드 스타일 문제 수정
  frontend/App.tsx
Owners: @ricomados
