Repository AiRing-Project/AiRing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @do0ori, @Pandarang, @ricomados, @armihong

.github/CODEOWNERS:

* @do0ori
/backend/ @do0ori @Pandarang 
/frontend/ @do0ori @ricomados
/ai/ @do0ori @armihong

Revert "[RING-105] 일기 작성 페이지"
  frontend/App.tsx
  frontend/src/assets/icons/ic-back.svg
  frontend/src/assets/icons/ic-camera.svg
  frontend/src/assets/icons/ic-return.svg
  frontend/src/assets/icons/ic-smile.svg
  frontend/src/assets/icons/ic-text.svg
  frontend/src/assets/icons/ic-write.svg
  frontend/src/screens/main/DiaryEntryScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

chore: PR 라벨러 validator 워크플로우에 revert 브랜치 무시 조건 추가
  .github/workflows/pr_labeler_validator.yaml
Owners: @do0ori

style: SafeAreaView에 상단 패딩 추가 및 중복된 스타일 제거
  frontend/src/components/layout/AppScreen.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
Owners: @do0ori, @ricomados

style: 스플래시 화면에 캐릭터 로고 애니메이션 및 로딩 UI 개선
  frontend/src/screens/SplashScreen.tsx
Owners: @do0ori, @ricomados

chore: 감정 통계 그래프를 위한 의존성 설치
  frontend/package-lock.json
  frontend/package.json
Owners: @do0ori, @ricomados

feat: Picker 컴포넌트 추가
  frontend/src/components/picker/Picker.tsx
Owners: @do0ori, @ricomados

feat: 감정 리포트 화면 구성 및 바 차트 시각화 추가
  frontend/src/screens/main/report/ReportScreen.tsx
Owners: @do0ori, @ricomados

fix: Picker keyExtractor에 index 추가해 중복 키 이슈 해결
  frontend/src/components/picker/Picker.tsx
Owners: @do0ori, @ricomados

fix: Splash 애니메이션 unmount 시 반복 중단되도록 수정
  frontend/src/screens/SplashScreen.tsx
Owners: @do0ori, @ricomados

refactor: EmotionIcon에서 empty 상태 지원하도록 개선
  frontend/src/assets/icons/ic-emotion-empty.svg
  frontend/src/components/common/EmotionIcon.tsx
Owners: @do0ori, @ricomados

feat: 감정 기록 리스트에 응답 유무 및 날짜 표시 추가
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

feat: 오늘 날짜 감정 아이콘에 테두리 표시 기능 추가
  frontend/src/components/common/EmotionIcon.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

chore: 이미지 업로드 처리를 위한 의존성 설치
  frontend/package-lock.json
  frontend/package.json
Owners: @do0ori, @ricomados

feat: 모드에 따라 아이콘 변경되는 헤더 컴포넌트 추가
  frontend/src/assets/icons/ic-cancel.svg
  frontend/src/assets/icons/ic-check.svg
  frontend/src/assets/icons/ic-edit.svg
  frontend/src/components/layout/ModeHeader.tsx
Owners: @do0ori, @ricomados

feat: 일기 상세 화면 구현 및 날짜 유틸 함수 개선
  frontend/src/screens/main/calendar/DiaryScreen.tsx
  frontend/src/types/diary.ts
  frontend/src/utils/date.ts
Owners: @do0ori, @ricomados

feat: 일기 상세 페이지 라우팅 및 감정 색상 상수화
  frontend/App.tsx
  frontend/src/constants/emotion.ts
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Owners: @do0ori, @ricomados

refactor: 감정 타입 정의 및 색상 맵 타입 강화
  frontend/src/constants/emotion.ts
  frontend/src/types/emotion.ts
Owners: @do0ori, @ricomados

chore: proxy 디렉토리 기본 파일 및 설정 추가
  proxy/.gitignore
  proxy/README.md
Owners: @do0ori

feat: Gemini Live API와 연동되는 WebSocket 프록시 서버 구현
  proxy/constants.py
  proxy/main.py
  proxy/requirements.txt
Owners: @do0ori

chore: Gemini 프록시 인스트럭션 한국어로 변경
  proxy/constants.py
Owners: @do0ori

docs: 로고와 관련된 링크로 수정
  proxy/README.md
Owners: @do0ori

Refactor: restructure project files and update diary summary route
  ai/.gitignore
  ai/Ai_summary_diary.py
  ai/Gemini_diary_summary.py
  ai/app/routes/diary.py
  ai/app/services/gpt_diary_summary.py
  ai/main.py
  ai/requirements.txt
  ai/static/index.html
Owners: @do0ori, @armihong

Refactor: restructure project files and update diary summary route
  ai/.gitignore
  ai/Ai_summary_diary.py
  ai/Gemini_diary_summary.py
  ai/app/routes/diary.py
  ai/app/services/gpt_diary_summary.py
  ai/main.py
  ai/requirements.txt
  ai/static/index.html
Owners: @do0ori, @armihong

Fix: update config and auth routes
  ai/app/core/config.py
  ai/app/routes/auth.py
Owners: @do0ori, @armihong

Revert "[RING-129] Refactor: restructure project files and update diary summary route"
  ai/.gitignore
  ai/Ai_summary_diary.py
  ai/Gemini_diary_summary.py
  ai/app/main.py
  ai/app/requirements.txt
  ai/app/routes/diary.py
  ai/app/services/gpt_diary_summary.py
  ai/app/static/index.html
Owners: @do0ori, @armihong

Revert "[RING-147] Ai/ring 147 branch 꼬임 해결"
  ai/app/core/config.py
  ai/app/routes/auth.py
Owners: @do0ori, @armihong

chore: 필요없는 파일 삭제
  ai/Ai_summary_diary.py
  ai/Gemini_diary_summary.py
Owners: @do0ori, @armihong

feat: AI 일기 요약 API 및 GPT-4 기반 요약 서비스 추가
  ai/app/core/config.py
  ai/app/main.py
  ai/app/routes/diary.py
  ai/app/schemas/diary.py
  ai/app/services/gpt_diary_summary.py
Owners: @do0ori, @armihong

docs: README 환경설정 및 종속성 업데이트
  ai/README.md
  ai/app/requirements.txt
  ai/notebooks/colab-file-here.txt
Owners: @do0ori, @armihong

ci: revert- 브랜치에서 PR 라벨러 건너뛰기
  .github/workflows/pr_labeler_validator.yaml
Owners: @do0ori

chore: Live API 사용을 위한 google/genai 의존성 설치
  frontend/package-lock.json
  frontend/package.json
Owners: @do0ori, @ricomados

fix: React Native에서 URL.protocol 오류 수정
  frontend/index.js
  frontend/package-lock.json
  frontend/package.json
Owners: @do0ori, @ricomados

refactor: Call 로그 API 관련 로직 분리 및 정리
  frontend/src/api/authApi.ts
  frontend/src/api/callApi.ts
  frontend/src/utils/aiCall.ts
Owners: @do0ori, @ricomados

chore: AI 통화 음성 목록 수정 및 대화 가이드 추가
  frontend/src/constants/aiCall.ts
Owners: @do0ori, @ricomados

feat: AI 통화 연결 로직 구현
  frontend/src/screens/main/call/IncomingCallScreen.tsx
  frontend/src/utils/geminiLiveSession.ts
Owners: @do0ori, @ricomados

fix: @google/genai 조건부 exports 문제 해결
  frontend/src/utils/geminiLiveSession.ts
Owners: @do0ori, @ricomados

feat: Android 앱에 Java-WebSocket 라이브러리 및 RECORD_AUDIO 권한 추가
  frontend/android/app/build.gradle
  frontend/android/app/src/main/AndroidManifest.xml
Owners: @do0ori, @ricomados

refactor: 권한 요청 훅 통합 및 오디오 권한 요청 추가
  frontend/App.tsx
  frontend/src/hooks/usePermissions.ts
Owners: @do0ori, @ricomados

feat: Android 네이티브 AI 통화 모듈 추가 및 React Native 연동
  frontend/android/app/src/main/java/com/airing/frontend/AiCallModule.kt
  frontend/android/app/src/main/java/com/airing/frontend/AiCallPackage.kt
  frontend/android/app/src/main/java/com/airing/frontend/MainApplication.kt
  frontend/src/hooks/useAiCall.ts
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call/CallActiveScreen.tsx
  frontend/src/types/declarations.d.ts
Owners: @do0ori, @ricomados

fix: CallActiveScreen 녹음·재연결 로직 개선 및 클린업 처리
  frontend/src/screens/main/call/CallActiveScreen.tsx
Owners: @do0ori, @ricomados
