Repository AiRing-Project/AiRing, pull requests merged in 2025-05, with the labels that each got.

#2 [RING-8] GitHub ci workflow 및 PR template 작성
  .github/labeler.yaml
  .github/pull_request_template.md
  .github/workflows/pr_labeler_validator.yaml
Labels: 🌿infra

#3 [RING-3] react-native-cli로 프로젝트 bootstrap
  frontend/.bundle/config
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/.watchmanconfig
  frontend/App.tsx
  frontend/Gemfile
  frontend/README.md
  frontend/__tests__/App.test.tsx
  frontend/android/app/build.gradle
  frontend/android/app/debug.keystore
  frontend/android/app/proguard-rules.pro
  frontend/android/app/src/debug/AndroidManifest.xml
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/android/app/src/main/java/com/airing/MainActivity.kt
  frontend/android/app/src/main/java/com/airing/MainApplication.kt
  frontend/android/app/src/main/res/drawable/rn_edit_text_material.xml
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  frontend/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  frontend/android/app/src/main/res/values/strings.xml
  frontend/android/app/src/main/res/values/styles.xml
  frontend/android/build.gradle
  frontend/android/gradle.properties
  frontend/android/gradle/wrapper/gradle-wrapper.jar
  frontend/android/gradle/wrapper/gradle-wrapper.properties
  frontend/android/gradlew
  frontend/android/gradlew.bat
  frontend/android/settings.gradle
  frontend/app.json
  frontend/babel.config.js
  frontend/index.js
  frontend/info.txt
  frontend/ios/.xcode.env
  frontend/ios/AiRing.xcodeproj/project.pbxproj
  frontend/ios/AiRing.xcodeproj/xcshareddata/xcschemes/AiRing.xcscheme
  frontend/ios/AiRing/AppDelegate.swift
  frontend/ios/AiRing/Images.xcassets/AppIcon.appiconset/Contents.json
  frontend/ios/AiRing/Images.xcassets/Contents.json
  frontend/ios/AiRing/Info.plist
  frontend/ios/AiRing/LaunchScreen.storyboard
  frontend/ios/AiRing/PrivacyInfo.xcprivacy
  frontend/ios/Podfile
  frontend/jest.config.js
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: 🖥️frontend

#4 [RING-9] 팀원 GitHub 프로필 링크 정보 업데이트 및 CODEOWNERS로 리뷰어 지정
  .github/CODEOWNERS
  .github/pull_request_template.md
  README.md
Labels: 🌿infra

#6 [RING-24] CI 주체 변경 및 프로젝트 설정 수정
  .github/CODEOWNERS
  .github/workflows/pr_labeler_validator.yaml
  .gitignore
Labels: 🌿infra

#5 [RING-22] Add backend Spring Boot project with initial setup
  backend/.gitattributes
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/info.txt
  backend/settings.gradle
  backend/src/main/java/com/airing/backend/BackendApplication.java
  backend/src/main/java/com/airing/backend/entity/User.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/airing/backend/BackendApplicationTests.java
Labels: 💾backend

#7 [RING-31] Java Spring + PostgreSQL local/Docker 환경 세팅
  backend/Dockerfile
  backend/README.md
  backend/docker-compose.yml
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
  backend/src/main/resources/application.properties
Labels: 🌿infra

#8 [RING-28] Render Docker Instance + Render PostgreSQL Instance 배포
  .github/workflows/backend_ci.yml
  backend/src/main/resources/application.properties
Labels: 🌿infra

#9 [RING-34] AI 관련 환경설정 추가
  .github/CODEOWNERS
  .github/labeler.yaml
  .github/workflows/pr_labeler_validator.yaml
Labels: 🌿infra

#10 [RING-35] CodeRabbit 설정 파일 추가
  .coderabbit.yaml
Labels: 🌿infra

#13 [RING-41] refactor: Google Gemini Live API 오디오 버퍼링 및 큐 크기 개선
  ai/Get_started_LiveAPI.py
Labels: 🤖ai

#14 [RING-42] Swagger 추가
  backend/build.gradle
  backend/src/main/java/com/airing/backend/config/SwaggerConfig.java
  backend/src/main/java/com/airing/backend/controller/HealthCheckController.java
Labels: 💾backend

#15 [RING-44] 간단한 welcome page(index.html) 추가
  backend/src/main/java/com/airing/backend/config/SwaggerConfig.java
  backend/src/main/resources/static/index.html
Labels: 💾backend

#16 [RING-45] Render 서버 유지를 위한 ping 워크플로 추가
  .github/workflows/ping.yaml
Labels: 🌿infra

#17 [RING-46] Keep Alive actions 실패 해결하기
  .github/workflows/ping.yaml
Labels: 🌿infra

#24 [RING-52] refactor: 오디오 루프 예외 처리 및 태스크 관리 개선
  ai/Gemini_ai_call_server.py
  ai/Get_started_LiveAPI.py
Labels: 🤖ai

#26 [RING-54] Figma WireFrame대로 Bottom tab 디자인 추가해보기
  frontend/App.tsx
  frontend/metro.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/tab_calendar.svg
  frontend/src/assets/icons/tab_center.svg
  frontend/src/assets/icons/tab_log.svg
  frontend/src/assets/icons/tab_report.svg
  frontend/src/assets/icons/tab_settings.svg
  frontend/src/declarations.d.ts
Labels: 🖥️frontend

#27 [RING-55] Bottom tab 선택 시 아이콘에 색상 적용 안되는 문제 해결 및 추가 style 조정
  frontend/App.tsx
  frontend/src/assets/icons/tab_calendar.svg
  frontend/src/assets/icons/tab_log.svg
  frontend/src/assets/icons/tab_report.svg
  frontend/src/assets/icons/tab_settings.svg
Labels: 🖥️frontend

#28 [RING-58] 배포 오류를 야기한 인증이 필요 없는 api 접근 불가 문제 해결
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
  backend/src/main/java/com/airing/backend/controller/IndexController.java
  backend/src/test/java/com/airing/backend/HealthCheckControllerTest.java
Labels: 💾backend

#34 [RING-64] 로그아웃, 비밀번호 재설정 UI 생성 및 api 연결
  frontend/App.tsx
  frontend/src/api/authApi.ts
  frontend/src/api/axiosInstance.ts
  frontend/src/navigation/AuthStack.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/navigation/SettingsStack.tsx
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/ResetPasswordScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
  frontend/src/screens/main/SettingsScreen.tsx
  frontend/src/store/authStore.ts
  frontend/src/types/navigation.ts
  frontend/src/utils/tokenManager.ts
Labels: 🖥️frontend

#36 [RING-65] 로그아웃 refresh token을 request header에서 request body로 변경
  backend/src/main/java/com/airing/backend/auth/Service/AuthService.java
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/dto/LogoutRequest.java
Labels: 💾backend

#40 [RING-67] 로깅 추가 및 Exception 처리 오류(403) 해결
  backend/src/main/java/com/airing/backend/auth/jwt/JwtRequestFilter.java
  backend/src/main/java/com/airing/backend/common/logging/LoggingFilter.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
Labels: 💾backend

#42 [RING-68] PR title의 Task ID가 branch와 동일한지 검증 추가
  .github/workflows/pr_labeler_validator.yaml
Labels: 🌿infra
