Repository AiRing-Project/AiRing, pull requests merged in 2025-06, with the labels that each got.

#50 [RING-87] 앱 잠금 비밀번호 페이지 추가
  frontend/App.tsx
  frontend/src/assets/icons/ic-emotion-eyes.svg
  frontend/src/screens/AppLockScreen.tsx
Labels: 🖥️frontend

#52 [RING-90] AWS 설정 방식 개선 및 코드 정리 및 다이어리 사진 올리기
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/airing/backend/config/Aws3sConfig.java
  backend/src/main/java/com/airing/backend/config/AwsS3Config.java
  backend/src/main/java/com/airing/backend/diary/controller/DiaryController.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryCreateRequest.java
  backend/src/main/java/com/airing/backend/diary/dto/DiaryUpdateRequest.java
  backend/src/main/java/com/airing/backend/diary/entity/Diary.java
  backend/src/main/java/com/airing/backend/diary/repository/DiaryRepository.java
  backend/src/main/java/com/airing/backend/diary/service/DiaryService.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/java/com/airing/backend/image/dto/PresignedUrlResponse.java
  backend/src/main/java/com/airing/backend/image/repository/ImageRepository.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/properties/env.properties
  backend/src/main/resources/static/kakao_login_medium_narrow.png
Labels: 💾backend

#54 [RING-93] chore: AwsS3Config에서 불필요한 @PropertySource 애노테이션 제거
  backend/src/main/java/com/airing/backend/config/AwsS3Config.java
Labels: 💾backend

#55 [RING-91] 앱 잠금 비밀번호 페이지 키보드 오류 해결
  frontend/package.json
  frontend/src/assets/icons/ic-backspace.svg
  frontend/src/screens/AppLockScreen.tsx
Labels: 🖥️frontend

#57 [RING-95] feat: 이미지 업로드 및 삭제 기능 개선 및 사용자 알림 추가
  backend/src/main/java/com/airing/backend/image/repository/ImageRepository.java
  backend/src/main/java/com/airing/backend/image/service/ImageService.java
  backend/src/main/resources/application.properties
Labels: 💾backend

#58 [RING-96] 공통 Header component 분리
  frontend/src/components/Header.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
Labels: 🖥️frontend

#59 [RING-97] 공통 Header component marginBottom prop 추가
  frontend/src/components/Header.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
Labels: 🖥️frontend

#60 [RING-98] feat: 통화 이벤트 저장 기능 추가
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callLog/entity/CallLog.java
  backend/src/main/java/com/airing/backend/callLog/repository/CallLogRepository.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
  backend/src/main/resources/application.properties
Labels: 💾backend

#63 [RING-102] feat: 최근 통화 기록 조회 API 추가
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogDetailResponse.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
Labels: 💾backend

#64 [RING-103] Backend/ring 103
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogMonthlyResponse.java
  backend/src/main/java/com/airing/backend/callLog/repository/CallLogRepository.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
Labels: 💾backend

#65 [RING-109] 마이페이지 디자인 수정
  frontend/src/assets/icons/ic-Ellipse.svg
  frontend/src/assets/icons/ic-person.svg
  frontend/src/screens/main/settings/MyPageScreen.tsx
Labels: 🖥️frontend

#66 [RING-107] 캘린더 페이지 기초 UI
  frontend/android/gradle.properties
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/ic-chevron-left.svg
  frontend/src/components/Header.tsx
  frontend/src/components/HorizontalDivider.tsx
  frontend/src/components/MonthYearPicker.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/CalendarScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
  frontend/src/utils/date.ts
Labels: 🖥️frontend

#67 [RING-104] 설정 탭 구조 및 디자인 수정
  frontend/App.tsx
  frontend/src/components/ListItem.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/navigation/SettingsStack.tsx
  frontend/src/screens/main/SettingsScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
  frontend/src/screens/main/settings/MyPageScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
  frontend/src/screens/main/settings/SecuritySettingsScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Labels: 🖥️frontend

#69 [RING-111] 사용자 정보 조회 API
  backend/src/main/java/com/airing/backend/auth/controller/AuthController.java
  backend/src/main/java/com/airing/backend/auth/security/PrincipalDetails.java
  backend/src/main/java/com/airing/backend/common/health/HealthCheckController.java
  backend/src/main/java/com/airing/backend/config/SecurityConfig.java
  backend/src/main/java/com/airing/backend/config/SwaggerConfig.java
  backend/src/main/java/com/airing/backend/user/entity/User.java
  backend/src/main/java/com/airing/backend/user/repository/UserRepository.java
  backend/src/main/resources/application.properties
Labels: 💾backend

#70 [RING-112] 사용자 정보 store 추가 및 screen에 적용
  frontend/App.tsx
  frontend/src/api/authApi.ts
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
  frontend/src/store/authStore.ts
Labels: 🖥️frontend

#71 [RING-114] Call Log, Calendar 디자인 수정 및 Pretendard 폰트 제거
  frontend/src/assets/icons/ic-emotion-empty.svg
  frontend/src/assets/icons/ic-info-circle.svg
  frontend/src/assets/icons/ic-phone-declined.svg
  frontend/src/assets/icons/ic-phone-outgoing.svg
  frontend/src/components/Header.tsx
  frontend/src/components/ListItem.tsx
  frontend/src/components/MonthYearPicker.tsx
  frontend/src/components/password/NumPad.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/auth/WelcomeScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Labels: 🖥️frontend

#75 [RING-116] fix: 통화 이벤트 요청 필드 및 예외 처리 개선
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
  backend/src/main/resources/application.properties
Labels: 💾backend

#77 [RING-118] AI 전화 예약 페이지 디자인 수정
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/ic-toggle-off.svg
  frontend/src/assets/icons/ic-toggle-on.svg
  frontend/src/components/common/HorizontalDivider.tsx
  frontend/src/components/common/ListItem.tsx
  frontend/src/components/common/Switch.tsx
  frontend/src/components/layout/AppScreen.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/picker/MonthYearPicker.tsx
  frontend/src/components/picker/TimePicker.tsx
  frontend/src/components/picker/WheelPicker.tsx
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/SplashScreen.tsx
  frontend/src/screens/auth/LoginScreen.tsx
  frontend/src/screens/auth/SignUpScreen.tsx
  frontend/src/screens/auth/WelcomeScreen.tsx
  frontend/src/screens/main/ReserveAiCallScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
  frontend/src/screens/main/settings/ResetPasswordScreen.tsx
  frontend/src/screens/main/settings/SecuritySettingsScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
  frontend/src/screens/main/settings/SettingsScreen.tsx
Labels: 🖥️frontend

#79 [RING-122] 앱 잠금 비밀번호 입력 키패드에 전체 삭제 기능 추가
  frontend/src/components/password/NumPad.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
Labels: 🖥️frontend

#81 [RING-126] 감정 아이콘 컴포넌트 추가
  frontend/src/components/common/EmotionIcon.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Labels: 🖥️frontend

#82 [RING-124] AI 전화 설정 선택 페이지 추가 및 AsyncStorage에 저장
  frontend/App.tsx
  frontend/src/api/axiosInstance.ts
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/screens/main/settings/SelectCallBackScreen.tsx
  frontend/src/screens/main/settings/SelectVibrateScreen.tsx
  frontend/src/screens/main/settings/SelectVoiceScreen.tsx
  frontend/src/store/aiCallSettingsStore.ts
  frontend/src/store/appLockStore.ts
  frontend/src/store/authStore.ts
  frontend/src/utils/tokenManager.ts
Labels: 🖥️frontend

#76 [RING-119] feat: 전처리 전후 AI 응답 비교 기능 추가
  ai/Ai_summary_diary.py
  ai/python
Labels: 💾backend

#83 [RING-120] AI 전화 예약 정보 기반 알람 등록
  frontend/App.tsx
  frontend/android/app/src/main/AndroidManifest.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useNotifeeEvents.ts
  frontend/src/hooks/useNotificationPermissions.ts
  frontend/src/hooks/useVibrationChannels.ts
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/screens/main/call/IncomingCallScreen.tsx
  frontend/src/screens/main/settings/SelectCallBackScreen.tsx
  frontend/src/screens/main/settings/SelectVibrateScreen.tsx
  frontend/src/screens/main/settings/SelectVoiceScreen.tsx
  frontend/src/store/aiCallSettingsStore.ts
  frontend/src/utils/alarmManager.ts
  frontend/src/utils/date.ts
Labels: 🖥️frontend

#84 [RING-130] fix: 알람 초기 등록 로직을 zustand rehydration 후 처리
  frontend/App.tsx
  frontend/src/store/aiCallSettingsStore.ts
Labels: 🖥️frontend

#86 [RING-131] 일기 감정 색상 추가
  frontend/src/components/common/EmotionIcon.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Labels: 🖥️frontend

#87 [RING-133] 수신 알림에 액션 버튼 색상 및 제목 강조 적용
  frontend/src/constants/colors.ts
  frontend/src/screens/main/call/IncomingCallScreen.tsx
  frontend/src/utils/alarmManager.ts
Labels: 🖥️frontend

#89 [RING-121] Ephemeral Token 발급 API (Python)
  ai/.gitignore
  ai/Gemini_ai_call_server.py
  ai/Get_started_LiveAPI.py
  ai/README.md
  ai/app/__init__.py
  ai/app/core/__init__.py
  ai/app/core/config.py
  ai/app/main.py
  ai/app/routes/__init__.py
  ai/app/routes/auth.py
  ai/app/schemas/__init__.py
  ai/app/schemas/auth.py
  ai/app/services/__init__.py
  ai/app/services/auth.py
  ai/requirements.txt
  ai/test_client.py
Labels: 💾backend

#90 [RING-136] Health Check API 추가 및 원활한 배포를 위해 프로젝트 구조 수정
  ai/README.md
  ai/app/core/config.py
  ai/app/main.py
  ai/app/requirements.txt
Labels: 🌿infra, 💾backend

#92 [RING-134] 통화 준비 API 추가
  backend/src/main/java/com/airing/backend/callLog/controller/CallLogController.java
  backend/src/main/java/com/airing/backend/callLog/dto/CallLogEventRequest.java
  backend/src/main/java/com/airing/backend/callLog/entity/CallLog.java
  backend/src/main/java/com/airing/backend/callLog/service/CallLogService.java
  backend/src/main/java/com/airing/backend/callSummary/controller/CallSummaryController.java
  backend/src/main/java/com/airing/backend/common/converter/JsonConverter.java
  backend/src/main/java/com/airing/backend/config/RestTemplateConfig.java
  backend/src/main/java/com/airing/backend/conversations/controller/ConversationController.java
  backend/src/main/java/com/airing/backend/conversations/dto/ConversationInitRequest.java
  backend/src/main/java/com/airing/backend/conversations/dto/ConversationInitResponse.java
  backend/src/main/java/com/airing/backend/conversations/service/ConversationService.java
  backend/src/main/java/com/airing/backend/image/controller/ImageController.java
  backend/src/main/resources/application.properties
Labels: 💾backend

#94 [RING-138] 프로젝트 README.md 파일 업데이트
  README.md
  frontend/README.md
Labels: 🌿infra

#95 [RING-132] AI 통화 준비 API 요청 추가 및 전화 수락/발신 시 요청 보내기
  frontend/src/api/authApi.ts
  frontend/src/components/layout/AppScreen.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/password/PasswordBox.tsx
  frontend/src/components/password/PasswordInputArea.tsx
  frontend/src/constants/aiCall.ts
  frontend/src/constants/calendar.ts
  frontend/src/constants/layout.ts
  frontend/src/constants/password.ts
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/AppLockScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/call-log/CallLogDetailScreen.tsx
  frontend/src/screens/main/call-log/CallLogScreen.tsx
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/screens/main/call/IncomingCallScreen.tsx
  frontend/src/screens/main/settings/SelectCallBackScreen.tsx
  frontend/src/screens/main/settings/SelectVibrateScreen.tsx
  frontend/src/screens/main/settings/SelectVoiceScreen.tsx
  frontend/src/screens/main/settings/SetAppLockPasswordScreen.tsx
  frontend/src/store/aiCallSettingsStore.ts
  frontend/src/types/call.ts
  frontend/src/utils/aiCall.ts
  frontend/src/utils/alarmManager.ts
Labels: 🖥️frontend

#97 [RING-141] 통화 시작 실패 후처리 및 AI 전화 설정 값 동기화 오류 해결
  frontend/App.tsx
  frontend/src/screens/main/call/AiCallSettingsScreen.tsx
  frontend/src/screens/main/call/IncomingCallScreen.tsx
  frontend/src/utils/date.ts
Labels: 🖥️frontend

#88 [RING-125] 레포트 페이지
  frontend/src/assets/icons/ic-Rectangleyellow.svg
  frontend/src/assets/icons/ic-RightPointer.svg
  frontend/src/assets/icons/ic-SettingIcon.svg
  frontend/src/assets/icons/ic-Sun.svg
  frontend/src/assets/icons/ic-UnderBar.svg
  frontend/src/assets/icons/ic-Union.svg
  frontend/src/assets/icons/ic-WhiteEllipse.svg
  frontend/src/assets/icons/ic-eye.svg
  frontend/src/components/AnalysisText.tsx
  frontend/src/components/DateText.tsx
  frontend/src/components/DiaryContentText.tsx
  frontend/src/components/EmotionAnalysisChart.tsx
  frontend/src/components/EmotionChart.tsx
  frontend/src/components/GraphTitle.tsx
  frontend/src/components/InfoIcon.tsx
  frontend/src/components/MoveToDiaryText.tsx
  frontend/src/components/Rectangle14955.tsx
  frontend/src/components/Rectangle14956.tsx
  frontend/src/components/Rectangle14999.tsx
  frontend/src/components/Rectangle15000.tsx
  frontend/src/components/Rectangle15004.tsx
  frontend/src/components/Vector.tsx
  frontend/src/components/Vector8Icon.tsx
  frontend/src/screens/main/report/ReportScreen.tsx
Labels: 🖥️frontend

#96 [RING-105] 일기 작성 페이지
  frontend/App.tsx
  frontend/src/assets/icons/ic-back.svg
  frontend/src/assets/icons/ic-camera.svg
  frontend/src/assets/icons/ic-return.svg
  frontend/src/assets/icons/ic-smile.svg
  frontend/src/assets/icons/ic-text.svg
  frontend/src/assets/icons/ic-write.svg
  frontend/src/screens/main/DiaryEntryScreen.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
Labels: 🖥️frontend

#100 [RING-144] PR 라벨러 validator 워크플로우에 revert 브랜치 무시 조건 추가
  .github/workflows/pr_labeler_validator.yaml
Labels: 🌿infra

#102 [RING-143] 일기 페이지 (보기, 편집하기)
  frontend/App.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/ic-cancel.svg
  frontend/src/assets/icons/ic-check.svg
  frontend/src/assets/icons/ic-edit.svg
  frontend/src/assets/icons/ic-emotion-empty.svg
  frontend/src/components/common/EmotionIcon.tsx
  frontend/src/components/layout/ModeHeader.tsx
  frontend/src/constants/emotion.ts
  frontend/src/navigation/HomeTabs.tsx
  frontend/src/screens/main/calendar/CalendarScreen.tsx
  frontend/src/screens/main/calendar/DiaryScreen.tsx
  frontend/src/types/diary.ts
  frontend/src/types/emotion.ts
  frontend/src/utils/date.ts
Labels: 🖥️frontend

#103 [RING-145] Gemini Live API 용 Proxy 서버
  proxy/.gitignore
  proxy/README.md
  proxy/constants.py
  proxy/main.py
  proxy/requirements.txt
Labels: 💾backend

#105 [RING-147] Ai/ring 147 branch 꼬임 해결
  ai/app/core/config.py
  ai/app/routes/auth.py
Labels: 🤖ai

#108 [RING-148] AI 서버 배포 문제 해결
  ai/Ai_summary_diary.py
  ai/Gemini_diary_summary.py
  ai/README.md
  ai/app/core/config.py
  ai/app/main.py
  ai/app/requirements.txt
  ai/app/routes/diary.py
  ai/app/schemas/diary.py
  ai/app/services/gpt_diary_summary.py
  ai/notebooks/colab-file-here.txt
Labels: 🤖ai

#109 [RING-149] revert- 브랜치에서 PR 라벨러 건너뛰기
  .github/workflows/pr_labeler_validator.yaml
Labels: 🌿infra
